<h2><%= @event.event_type.title %> <%= @event.name %> Changelog</h2>

<ul class="list-unstyled">
  <% @event.versions.each do |event_version| %>
    <li>
      <%= event_version.created_at.to_formatted_s(:long) %>:
      <strong><%= event_version.event %></strong> by
      <%= link_to event_version.user.full_name, team_path(event_version.user) %>

      <div class="well">
        <dl>
          <% event_version.changeset.each_pair do |field, changes| %>
            <dt><%= field %></dt>
            <dd><%= changes.last %></dd>
          <% end %>
        </dl>
      </div>

    </li>
  <% end %>
</ul>

<hr/>
<%= link_to 'Back', event_path(@event), class: 'btn btn-primary btn-sm' %>