<h2><%= @event.title %></h2>

<h4><strong>Due date:</strong> <%= @event.due_date.to_formatted_s(:long) %></h4>
<p><%= simple_format @event.description %></p>

<br/>
<strong>Participants:</strong>
<ul class="list-unstyled">
  <% @event.users.ordered.each do |user|  %>
    <li>
      <%= link_to user.display_name, team_path(user) %>
      <%= link_to 'Sum', event_user_sum_path(@event, user_id: user.id), class: 'btn btn-default btn-xs' %>
    </li>
  <% end %>
</ul>

<strong>Event log:</strong> <%= link_to 'Show', log_event_path(@event), class: 'btn btn-default btn-xs' %>


<hr/>
<%= link_to 'Edit', edit_event_path(@event), class: 'btn btn-primary btn-sm' %>
<%= link_to('Delete', event_path(@event), method: :delete, class: 'btn btn-danger btn-sm') if current_user.admin? %>