<h2>User detail</h2>

<ul class="list-unstyled">
  <li><strong>Full name:</strong> <%= @user.full_name %></li>
  <li><strong>Email:</strong> <%= @user.email %></li>
  <li><strong>Admin:</strong> <%= @user.admin?? 'Yes' : 'No' %></li>
  <li><strong>Number of events:</strong> <%= @user.events.size %> <%= link_to 'Show', events_team_path(@user), class: 'btn btn-default btn-xs' %></li>
  <li><strong>Activities: </strong> <%= link_to 'Show', activities_team_path(@user), class: 'btn btn-default btn-xs' %></li>
</ul>

<hr/>
<%= link_to 'Back', team_index_path, class: 'btn btn-primary btn-sm' %>